body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
*::after{
    box-sizing: inherit;
}
*::before{
    box-sizing: inherit;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color:white;
    padding: 0px 10%;
}

.top-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0;
 
}

.top-header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.top-header ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.top-header ul li a{
    text-decoration: none;
    color: #e8e5eb;
    font-size: 18px;
}



.header-bottom-right img{
    width: 100%;
    min-width: 300px;

}


.bottom-header{

    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin: 50px 0;
    flex-wrap: wrap;
}
.header-bottom-right{
    flex:1 1 0%;
    align-self: center;
}
.header-bottom-left{
    flex:1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-bottom-left h1{
margin-top: 0;
font-size: 40px;
color: #f9faf8;
font-weight: bolder;
}

.header-bottom-left button{
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    border: 0px;
    cursor: pointer;
    

}



/* container */
.top-container{


    margin: 50px 0;
}
.top-container-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    

}


.teachers{
    display: flex;
    margin: 52px 15%;
    justify-content: space-around;
    gap: 32px;
    flex-wrap: wrap;
}
.teacher{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 150px;
}
.teacher img{
    width: 120px;
    border-radius: 10px;
}



.bottom-container{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 80px 15%;
}

span.book-best{
    float: right;
    color: black;
    font-weight: bold;
    margin-top: -40px;
}





/* footer */
.sign-up-alert{
    background-color: #3882f6;
    margin: 80px 10%;
    border-radius: 10px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10%;
    flex-wrap: wrap;


}

.sign-up-alert button{
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px 20px;
    color:#e5e7eb;
    cursor: pointer;
}

.alert-header{
    font-size: 24px;
    font-weight: 800;
}


